/ac-comphist.dat
/auto-save-list/*
/ede-projects.el
*~
/lisp/#*#
/lisp/jsobiecki*
/semanticdb/*
/projectile-bookmarks.eld
/projectile.cache
/timelog
session.*
/org-files/*
var/*
/elpa/*
/elpa
/image-dired/*
/eshell
/ido.last
